
<app-clicker [bonus]="bonusGlobal" (sumarValor)="sumarAlTotal($event)">asd</app-clicker>

<p>total: {{total}}</p>

<div>
  <button mat-raised-button color="primary" (click)="isactive()">MOSTRAR TABLA</button>
</div>

<div *ngIf="active">
  <p>Productos de supermercado</p>
  <table mat-table class="mat-elevation-z8">
    <tr>
      <th mat-header-cell >NOMBRE DE PRODUCTO</th>
      <th mat-header-cell >PRECIO</th>
    </tr>
    <tr *ngFor="let item of tablaPrductos">
      <td mat-cell>{{item.nombre}}</td>
      <td mat-cell>{{item.precio}}</td>
    </tr>
  </table>
</div>


